@font-face {
    font-family: "DINPro";
    src: url("../fonts/DINPro.otf");
}

body
{
    overflow-x: hidden;
    font-family: "DINPro", sans-serif;
}
#header {
    position: fixed;
    overflow: hidden;
    z-index: 200;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    width: 100vw;
    transition: opacity 500ms;
}
.hidden {
    opacity: 0;
    display: none;
}

#header img {
    width: 600px;
    height: auto;
    padding: 20px;
    margin: auto;
    display: block;
}

#header h1 {
    font-family: "DINPro",sans-serif;
    color:#C42032;
    text-align: center;
}

#header h2 {
    text-align: center;
    color:#711B46;
}


@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
.scroll-btn {
    display: block;
    left: 0;
    right: 0;
    text-align: center;
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: black;
    color: black;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: black;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: black;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;

}

.logo {
    width: 100%;
}

.horizon
{
    z-index: 1;
    width: 3000px;
    opacity: 0.5;
}
div.horizon.scroll img {
    height: 1500px;
}

div.middle.scroll {
    left: 50px;
}

.middle
{
    z-index: 500;
    width: 4000px;
    background-color: transparent;
}

.contain {
    width: 11500px;
    top:0;
    padding-top: 60px;
}

.scroll
{
    position: fixed;
    bottom: 0;
    left: 0;
}

.velo {
    z-index: 5;
}
.velo img{
    height: 40vh;
}

.page{
    top: 0;
    height: 700px;
    width: auto;
}

.table{
    z-index: 10;
    left: 500px;
}

.timbre {
    z-index: 20;
    left: 1500px;
}

.voyage {
    z-index: 30;
    left: 2000px;
}

.voyage2 {
    z-index: 40;
    left: 2500px;
}

.vin-rouge {
    z-index: 42;
    left: 3000px ;
}

.vin-blanc {
    z-index: 44;
    left: 3500px;
}

.vin-rose {
    z-index: 48;
    left: 4000px;
}

.degust {
    z-index: 50;
    left:4500px;
}

.text {
    z-index: 60;
    left: 5000px;
}

.recolt {
    z-index: 70;
    left: 5500px;
}

.text2 {
    z-index: 80;
    left: 6000px;
}

.papillon {
    z-index: 90;
    left: 6500px;
}

.french {
    z-index: 100;
    left: 7000px;
}

.dance {
    z-index: 110;
    left: 7500px;
}

.bouton {
    display: inline-block;
}

div.contain.scroll>div.bouton > a{
    background-color: white;
    color: #711B46;
    font-family: "DINPro",sans-serif;
    border-radius: 40px;
    width: auto;
    text-decoration: none;
}
